$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$oswald: 'Oswald', sans-serif;
$poppins: 'Poppins', sans-serif;

$background: #f8f8f8;
$text: #121725;
$transparent: #0000;
$black: black;
$white: white;
$red: #ff0000;
$orange: #ffa500;
$yellow: #ffff00;
$green: #00ff00;
$blue: #0055ff;
$purple: #6a00ff;
$pink: #ee00ff;
$gray: #808080;